.checkout-address {
  margin: 0rem 0rem 1.25rem 1.75rem;
  display: flex;
  gap: 2rem;
}

.order-checkout-summary {
  width: 35%;
}

.checkout-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.checkout-left {
  flex: 2;
}

.checkout-right {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #fafafa;
  height: fit-content;
}

.plus-icon {
  font-size: 1rem;
}

.cart-summary-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.cart-summary-item img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.cart-summary-item p {
  margin: 2px 0;
  font-size: 13px;
}

.add-btn {
  margin-top: 12px;
  color: #0083db;
  border: 1px dashed #0083db;
  padding: 1rem;
  border-radius: 6px;
  background-color: #ffffff;
}

.address-grid-wrapper {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
}

.add-btn:hover {
  background: #f4faff;
}

.shipping-btn {
  margin-top: 12px;
  color: #0083db;
  border: 1px solid #0083db;
  padding: 1rem;
  border-radius: 6px;
  background-color: #ffffff;
}

.shipping-btn:hover {
  background: #f4faff;
}

.address-grid {
  display: grid;
  width: 750px;
  margin: 1.5rem auto 0;
  gap: 1rem;
}

.address-grid.one {
  grid-template-columns: 1fr;
}

.address-grid.two {
  grid-template-columns: 1fr 1fr;
}

.address-grid.three {
  grid-template-columns: 1fr 1fr 1fr;
}


.address-actions {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-start;
  grid-column: 1 / -1;
  margin-top: 0.25rem;
}

.address-actions.col-2 {
  grid-column: 2;
  grid-row: 1;
}

.address-actions.col-row {
  grid-column: 1/-1;
  grid-row: auto;
}

.empty-address {
  text-align: center;
  background-color: #fafafa;
  padding: 1rem;
  width: 1180px;
  height: 200px;
  border-radius: 8px;
}

.empty-address p {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 4rem;
}
