.notification-container {
  position: relative;
  display: inline-block;
}

.notification-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: white;
  margin-left: -10px;
  padding: 7px 5px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -22px;
  background-color: #ff4f4f;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 4px;
  width: 25px;
  text-align: center;
}