.footer {
  background-color: #fafafa;
  color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.footer-container {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-about-text {
  margin-top: 1rem;
  font-size: 13px;
}

.footer-section {
  flex: 1 1 205px;
}

.footer-section h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-section-first-child {
  margin-top: 5rem;
  margin: 0 1rem;
}

.footer-section-first-child > p {
  font-size: 13px;
}

.footer-section p,
.footer-section li a {
  font-size: 13px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: #0083dd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #005f99;
  text-decoration: underline;
}

.footer-social {
  margin-left: 1rem;
}

.social-links {
  display: flex;
  gap: 1.25rem;
}

.social-links a {
  color: #0083dd;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  border-top: 1px solid #e0e0e0;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 13px;
}

/* ===========================
   Responsive Design for Mobile
   =========================== */
@media (max-width: 768px) {
  .footer {
    display: flex;
    font-size: large;
    margin: 0 1rem;
    width: 1650px;
  }

  .footer-section {
    margin: 0;
    padding: 0.5rem; /* reduce padding */
    box-sizing: border-box;
    width: 100%;
  }

  .footer-section:first-child {
    grid-column: span 2;
  }

  .footer-bottom {
    grid-column: span 2;
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }

  .social-links {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .social-links a:hover {
    transform: none;
  }
}

@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-section h3 {
    font-size: 1.1rem;
  }

  .footer-section p,
  .footer-section li a {
    font-size: 13px;
  }

  .social-links {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer-section:first-child {
    grid-column: span 2;
  }

  .footer-bottom {
    grid-column: span 2;
  }
}
